In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_rows', None)
df_list = []
for year in range(2017, 2022, 2):
    excelstring=f"Defense{year}.csv"
    year_df = pd.read_csv(excelstring)
    df_list.append(year_df)

df = pd.concat(df_list, ignore_index=True, axis=0)
display(df.head())

,Rk.,Year,Team,PA,Total Shifts,%,RHH - PA,RHH - Shifts,RHH - %,RHH - wOBA,LHH - PA,LHH - Shifts,LHH - %,LHH - wOBA
0,1,2017,Astros,6074,2085,34.3,3439,763,22.2,0.344,2635,1322,50.2,0.307
1,2,2017,Rays,6041,1770,29.3,3615,932,25.8,0.342,2426,838,34.5,0.296
2,3,2017,Brewers,6104,1523,25.0,3335,651,19.5,0.363,2769,872,31.5,0.352
3,4,2017,White Sox,6123,1185,19.4,3667,320,8.7,0.340,2456,865,35.2,0.364
4,5,2017,Orioles,6252,1158,18.5,3727,377,10.1,0.412,2525,781,30.9,0.340

First, creating the same master data frame from 2017, 2019, and 2021 from before.

In [9]:
top_shifters_RH = df.loc[df['RHH - %'] > 25.0]
top_shifters_LH = df.loc[df['LHH - %'] > 25.0]

Creating the same dataFrames for teams that shift most frequently.