In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_rows', None)
df_list = []
for year in range(2017, 2022, 2):
    excelstring=f"Defense{year}.csv"
    year_df = pd.read_csv(excelstring)
    df_list.append(year_df)

df = pd.concat(df_list, ignore_index=True, axis=0)
display(df.head())

,Rk.,Year,Team,PA,Total Shifts,%,RHH - PA,RHH - Shifts,RHH - %,RHH - wOBA,LHH - PA,LHH - Shifts,LHH - %,LHH - wOBA
0,1,2017,Astros,6074,2085,34.3,3439,763,22.2,0.344,2635,1322,50.2,0.307
1,2,2017,Rays,6041,1770,29.3,3615,932,25.8,0.342,2426,838,34.5,0.296
2,3,2017,Brewers,6104,1523,25.0,3335,651,19.5,0.363,2769,872,31.5,0.352
3,4,2017,White Sox,6123,1185,19.4,3667,320,8.7,0.340,2456,865,35.2,0.364
4,5,2017,Orioles,6252,1158,18.5,3727,377,10.1,0.412,2525,781,30.9,0.340

First, creating the same master data frame from 2017, 2019, and 2021 from before.

In [3]:
top_shifters_RH = df.loc[df['RHH - %'] > 25.0]
top_shifters_LH = df.loc[df['LHH - %'] > 25.0]
overall_top_shifters = df.loc[df['%'] > 25.0]
overall_top_shifters.head()

,Rk.,Year,Team,PA,Total Shifts,%,RHH - PA,RHH - Shifts,RHH - %,RHH - wOBA,LHH - PA,LHH - Shifts,LHH - %,LHH - wOBA
0,1,2017,Astros,6074,2085,34.3,3439,763,22.2,0.344,2635,1322,50.2,0.307
1,2,2017,Rays,6041,1770,29.3,3615,932,25.8,0.342,2426,838,34.5,0.296
30,1,2019,Dodgers,5884,2975,50.6,3538,1493,42.2,0.302,2346,1482,63.2,0.293
31,2,2019,Astros,5922,2934,49.5,3243,862,26.6,0.308,2679,2072,77.3,0.277
32,3,2019,Orioles,6381,2732,42.8,3754,1095,29.2,0.381,2627,1637,62.3,0.339

Creating the same dataFrames for teams that shift most frequently.

In [4]:
ranked_top_shifters = overall_top_shifters.sort_values(by=['%'], ascending=False)
ranked_top_shifters.head()

,Rk.,Year,Team,PA,Total Shifts,%,RHH - PA,RHH - Shifts,RHH - %,RHH - wOBA,LHH - PA,LHH - Shifts,LHH - %,LHH - wOBA
83,24,2021,Dodgers,5905,3165,53.6,3338,1403,42.0,0.293,2567,1762,68.6,0.277
30,1,2019,Dodgers,5884,2975,50.6,3538,1493,42.2,0.302,2346,1482,63.2,0.293
88,29,2021,Mets,5764,2891,50.2,3263,1469,45.0,0.320,2501,1422,56.9,0.311
31,2,2019,Astros,5922,2934,49.5,3243,862,26.6,0.308,2679,2072,77.3,0.277
72,13,2021,Astros,6048,2792,46.2,3555,761,21.4,0.290,2493,2031,81.5,0.312

In [5]:
worst_shifters = overall_top_shifters.sort_values(by=['%'], ascending=True)
worst_shifters.head()

,Rk.,Year,Team,PA,Total Shifts,%,RHH - PA,RHH - Shifts,RHH - %,RHH - wOBA,LHH - PA,LHH - Shifts,LHH - %,LHH - wOBA
80,21,2021,Giants,5981,1503,25.1,3390,197,5.8,0.282,2591,1306,50.4,0.284
43,14,2019,Giants,6230,1581,25.4,3849,636,16.5,0.353,2381,945,39.7,0.316
75,16,2021,Padres,6019,1533,25.5,3450,140,4.1,0.344,2569,1393,54.2,0.298
63,4,2021,Reds,6169,1584,25.7,3458,260,7.5,0.420,2711,1324,48.8,0.315
60,1,2021,Orioles,6228,1604,25.8,4012,378,9.4,0.323,2216,1226,55.3,0.332

From these two dataFrames, we see that the team over the three years covered in this table was the 2021 Los Angeles Dodgers, while we see that the team that shifted the least often over the same time span was the 2021 San Francisco Giants. Interestingly, these two teams had the second-best and best records, respectively, across MLB for the 2021 season, despite their dramatically different approaches to tech defense.